/*
* THIS IS MASTER OF SASS-FILE
* Template customize
* Built with love by juan tonang (rizwanaritonang@gmail.com)
*/
/*  VARIABLE's
/* ------------------------------------ */
/*  PARAMETRIC-MIXIN's
/* ------------------------------------ */
/*  MODULE
/* ------------------------------------ */
html, body {
  height: 100%; }

body {
  font-family: "futura-pt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 300; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  transition: all 350ms ease-out; }
  a:hover, a:focus {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

b,
strong {
  font-weight: bold; }

dfn,
cite,
em,
i {
  font-style: italic; }

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace; }

.btn-center {
  text-align: center;
  display: block; }
  .btn-center .btn {
    min-width: 180px; }
    .btn-center .btn:first-child {
      margin-right: 20px; }

.btn {
  display: inline-block;
  padding: 12px 16px;
  text-transform: uppercase;
  transition: all 350ms ease-out;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0;
  font-weight: normal; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    outline-color: transparent; }

.btn-gray {
  color: black;
  background-color: #c5c5c5;
  box-shadow: inset 0 0 0 2px #c5c5c5; }
  .btn-gray:hover, .btn-gray:focus {
    color: black;
    background-color: transparent; }

.btn-green {
  color: white;
  background-color: #5DAB77;
  box-shadow: inset 0 0 0 2px #5dab77; }
  .btn-green:hover, .btn-green:focus {
    color: #5DAB77;
    background-color: transparent; }

.btn-blue {
  background-color: #00b7f1; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #25cbff; }

input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(178, 178, 178, 0.7); }

textarea {
  resize: vertical; }

.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

/*  THEME
/* ------------------------------------ */
.section-box,
.section-box-small,
.section-box-smaller {
  position: relative; }

.section-box {
  padding: 60px 0px 40px; }

.section-box-small {
  padding: 30px 0; }

.section-box-smaller {
  padding: 20px; }

.header-section {
  margin-bottom: 40px;
  text-align: center; }
  .header-section h2 {
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase; }

.site-header-top {
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: #ececec; }

.site-header-top-left,
.site-header-top-right {
  position: relative;
  color: black; }
  .site-header-top-left p,
  .site-header-top-right p {
    margin-bottom: 0;
    font-weight: 300; }

.site-header-top-left {
  float: left; }

.site-header-top-right {
  float: right; }
  .site-header-top-right .checkout {
    color: #5DAB77;
    margin-left: 7px; }
  .site-header-top-right .icon {
    display: inline-block;
    background-image: url("../images/checkout.png");
    height: 16px;
    width: 16px;
    position: relative;
    background-repeat: no-repeat;
    background-color: transparent;
    top: 2px; }

.site-header-middle {
  position: relative;
  text-align: center;
  margin: 0px 0; }

.nav-header {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  display: inline-block;
  z-index: 999; }
  .nav-header.nav-left {
    text-align: left; }
  .nav-header.nav-right {
    text-align: right; }
  .nav-header ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .nav-header ul li {
      text-align: left;
      display: inline-block;
      position: relative; }
      .nav-header ul li:hover > a, .nav-header ul li:focus > a, .nav-header ul li.active > a {
        color: #5DAB77; }
      .nav-header ul li > a {
        color: black;
        display: block;
        padding: 5px 10px;
        margin: 0 20px; }
      .nav-header ul li > ul {
        display: none;
        position: absolute;
        background-color: #5DAB77;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.3);
        font-weight: normal;
        text-transform: capitalize;
        min-width: 215px;
        margin-top: 20px;
        z-index: 999; }
        .nav-header ul li > ul li {
          display: block; }
          .nav-header ul li > ul li:hover > a, .nav-header ul li > ul li:focus > a {
            color: black; }
          .nav-header ul li > ul li:first-child > a {
            padding-top: 15px; }
            .nav-header ul li > ul li:first-child > a:after {
              position: absolute;
              display: block;
              width: 20px;
              height: 20px;
              background-color: #5DAB77;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-right: none;
              border-bottom: none;
              content: "";
              transform: rotate(45deg);
              top: -10px;
              left: 32px; }
          .nav-header ul li > ul li:last-child > a {
            padding-bottom: 15px; }
          .nav-header ul li > ul li > a {
            position: relative;
            color: white;
            padding: 7px 15px;
            margin: 0;
            transition: all 400ms ease-out; }

.logo-header {
  display: inline-block;
  position: relative;
  margin: 0 15px; }
  .logo-header a {
    display: block; }
  .logo-header img {
    transform: scale(0.8); }

.section-banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%; }
  .section-banner .banner-caption {
    padding: 200px 0 100px;
    max-width: 940px;
    text-align: center;
    margin: 0 auto; }
  .section-banner h1 {
    font-size: 72px;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900; }
  .section-banner p {
    color: black;
    font-weight: normal;
    margin-bottom: 20px; }

.bestseller-container {
  margin-left: 0;
  margin-right: 0; }

.header-bestseller {
  text-align: center; }
  .header-bestseller h3 {
    margin: 0 0 40px;
    padding-bottom: 43px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #b2b2b2; }

.item-bestseller {
  text-align: center;
  position: relative;
  margin-bottom: 30px; }
  .item-bestseller .subitem-bestseller {
    position: relative;
    display: block;
    cursor: pointer; }
    .item-bestseller .subitem-bestseller:hover h4, .item-bestseller .subitem-bestseller:hover .price, .item-bestseller .subitem-bestseller:focus h4, .item-bestseller .subitem-bestseller:focus .price {
      color: #5DAB77; }
  .item-bestseller .bestseller-info {
    margin-top: 20px; }
    .item-bestseller .bestseller-info h4, .item-bestseller .bestseller-info .price {
      transition: all 350ms ease; }
    .item-bestseller .bestseller-info h4 {
      margin-top: 0;
      margin-bottom: 5px;
      text-transform: uppercase;
      color: black; }
    .item-bestseller .bestseller-info .price {
      color: black; }

.text-subscribe {
  font-size: 32px;
  color: #6e6e6e;
  text-align: center;
  margin: 0; }
  .text-subscribe a {
    color: #00b7f1;
    position: relative; }
    .text-subscribe a:hover, .text-subscribe a:focus {
      color: #25cbff; }
  .text-subscribe i {
    font-size: 9px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background-color: #00b7f1;
    color: white;
    position: relative;
    top: -5px; }

.bg-gray-light {
  background-color: #f3f3f3; }

.bg-gray-dark {
  background-color: #e4e3e4; }

.text-uppercase {
  text-transform: uppercase; }

.section-client .title-client {
  color: #62615d;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; }
.section-client .title-client,
.section-client .client-link {
  min-height: 45px;
  vertical-align: middle;
  position: relative;
  line-height: 45px;
  display: block;
  text-align: center; }

.site-footer {
  position: relative;
  padding: 60px 0px 10px;
  background: #555554; }

.widget-footer {
  margin-bottom: 30px;
  position: relative; }
  .widget-footer p {
    color: #b2b2b2; }
    .widget-footer p a {
      color: #b2b2b2; }
      .widget-footer p a:hover, .widget-footer p a:focus {
        color: #5DAB77; }
  .widget-footer .title-widget {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    letter-spacing: 1px; }
  .widget-footer .text-info {
    color: white;
    font-size: 26px;
    margin-bottom: 5px; }
    .widget-footer .text-info a {
      color: white; }
      .widget-footer .text-info a:hover, .widget-footer .text-info a:focus {
        color: #5DAB77; }

.list-widget-link {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-size: 16px; }
  .list-widget-link li {
    display: block; }
    .list-widget-link li:last-child {
      margin-bottom: 0; }
    .list-widget-link li a {
      display: inline-block;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 5px; }
      .list-widget-link li a:hover, .list-widget-link li a:focus {
        color: #5DAB77; }

.list-widget-socmed {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .list-widget-socmed li {
    display: inline-block;
    margin-right: 5px; }
    .list-widget-socmed li:last-child {
      margin-right: 0; }
  .list-widget-socmed a {
    border-radius: 50%;
    height: 43px;
    width: 43px;
    line-height: 43px;
    background-color: white;
    color: #7f7f7f;
    font-size: 21px;
    text-align: center;
    display: block; }
    .list-widget-socmed a:hover, .list-widget-socmed a:focus {
      background-color: #5DAB77;
      color: white; }

/*  BUTTON
/* ------------------------------------ */
/*  FORM
/* ------------------------------------ */
input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid transparent; }

textarea {
  resize: vertical; }

.item {
  position: relative; }
  .item .alert {
    float: left;
    margin: 0 0 0 20px;
    padding: 3px 10px;
    color: white;
    border-radius: 3px 4px 4px 3px;
    max-width: 170px;
    white-space: pre;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 250ms ease; }
    .item .alert:after {
      content: "";
      display: block;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 11px 7px;
      position: absolute;
      top: -1px;
      left: -13px; }
  .item.bad .alert {
    left: 0;
    opacity: 1;
    top: 5px;
    left: 343px;
    font-size: 12px;
    padding: 10px; }

.form-subscribe input[type="email"],
.form-subscribe input[type="submit"] {
  position: relative;
  float: left;
  height: 50px; }
.form-subscribe input[type="email"] {
  width: 65%;
  margin-right: 2%; }
.form-subscribe input[type="submit"] {
  width: 33%;
  color: white;
  text-transform: capitalize; }

/*  HELPER
/* ------------------------------------ */
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

/*  CAPTION
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
/*  ALIGNMENT
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*  SITE-HEADER
/* ------------------------------------ */
/*  SITE-MAIN
/* ------------------------------------ */
/*  SITE-FOOTER
/* ------------------------------------ */
/*  WIDGETS
/* ------------------------------------ */
/*  MEDIA-QUERIES
/* ------------------------------------ */
.btn-rwd-sidebar {
  display: none; }

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .wrapper .wrapper-inner {
    transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
    position: relative;
    width: 100%;
    display: block;
    margin-right: 0; }
  .wrapper .mask-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    opacity: 0;
    transition: all 350ms ease; }
  .wrapper .wrapper-active {
    margin-right: -40%;
    float: right; }
    .wrapper .wrapper-active .mask-wrapper {
      opacity: 1;
      z-index: 11; }
    @media (max-width: 570px) {
      .wrapper .wrapper-active {
        margin-right: -60%; } }
  .wrapper .on-active-right .mask-wrapper {
    opacity: 1;
    z-index: 11; }

.nav-rwd-sidebar {
  width: 40%;
  z-index: 999;
  background-color: #5DAB77;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media (max-width: 570px) {
    .nav-rwd-sidebar {
      width: 60%; } }
  .nav-rwd-sidebar .nav-sidebar {
    margin-top: 50px; }
  .nav-rwd-sidebar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 30px; }
    .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
      font-size: 13px;
      text-transform: capitalize;
      padding: 8px 15px;
      display: block;
      font-weight: 600; }

.nav-rwd-sidebar {
  margin-left: -40%; }
  .nav-rwd-sidebar .btn-hide {
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    display: block;
    text-align: center;
    line-height: 42px;
    background-color: #555554;
    color: white;
    box-shadow: inset 0 0 0 2px #555554; }
    .nav-rwd-sidebar .btn-hide:hover, .nav-rwd-sidebar .btn-hide:focus {
      background-color: transparent;
      color: #555554; }
  @media (max-width: 570px) {
    .nav-rwd-sidebar {
      margin-left: -60%; } }
  .nav-rwd-sidebar.sidebar-active {
    margin-left: 0; }
  .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
    padding-left: 30px;
    color: white; }
  .nav-rwd-sidebar ul li:hover a, .nav-rwd-sidebar ul li:focus a {
    color: #555554; }

.nav-sidebar-right {
  margin-right: -40%;
  right: 0;
  text-align: right; }
  @media (max-width: 570px) {
    .nav-sidebar-right {
      margin-right: -60%; } }
  .nav-sidebar-right .btn-hide {
    margin-right: 30px; }
  .nav-sidebar-right.sidebar-active {
    margin-right: 0; }
  .nav-sidebar-right ul li a, .nav-sidebar-right ul li span {
    padding-right: 30px; }

@media (max-width: 1200px) {
  .nav-header ul li > a {
    margin: 0 10px;
    font-size: 12px; } }
@media (max-width: 995px) {
  .nav-header {
    display: none; }

  .logo-header {
    float: left; }

  .btn-rwd-sidebar {
    margin-top: 25px;
    display: inline-block;
    float: right;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #5DAB77;
    box-shadow: inset 0 0 0 2px #5dab77;
    color: white; }
    .btn-rwd-sidebar:hover, .btn-rwd-sidebar:focus {
      background-color: transparent;
      color: #5DAB77; }

  .section-client .title-client,
  .section-client .client-link {
    margin-bottom: 20px; } }
@media (max-width: 767px) {
  .section-banner h1 {
    font-size: 52px; }

  .section-banner .banner-caption {
    padding: 100px 0 70px; } }
@media (max-width: 621px) {
  .btn-center a {
    margin-right: 0 !important;
    margin-bottom: 15px; } }
@media (max-width: 570px) {
  .site-header-top {
    height: auto;
    line-height: inherit;
    padding: 15px 0; }
    .site-header-top .site-header-top-left,
    .site-header-top .site-header-top-right {
      float: none;
      text-align: center;
      margin-bottom: 5px; } }

/*# sourceMappingURL=app-unprefixed.css.map */
