/*
* THIS IS MASTER OF SASS-FILE
* Template customize
* Built with love by juan tonang (rizwanaritonang@gmail.com)
*/


/*  VARIABLE's
/* ------------------------------------ */
@import "variable";

/*  PARAMETRIC-MIXIN's
/* ------------------------------------ */
// SELECTION
@mixin selection(){
	::selection {
	}
	::-moz-selection {
	}
}

// OPACITY-MIXIN
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}

// FONT-SMOOTHING
 @mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

// PLACEHOLDER
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-ms-input-placeholder {  
		font-family: $roboto;
		color: $color-text-gray-99;
	}
}

/*  MODULE
/* ------------------------------------ */
// GENERAL
html, body{
	height: 100%;
}

body{
	font-family: $futura;
	@include antialias;
	font-size: 16px;
	font-weight: 300;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	transition: all 350ms ease-out;
	&:hover, &:focus{
		text-decoration: none;
	}
}

p{
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;	
}

h1{}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{}
h6{}

b,
strong{
	font-weight: bold;
}

dfn,
cite,
em,
i{
	font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre{
	font-family: Inconsolata, monospace;
}

// BUTTON
@import "module/button";

// FORM
@import "module/form";

$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/*  THEME
/* ------------------------------------ */

// LAYOUT-FORMATTING
.section-box,
.section-box-small,
.section-box-smaller{
	position: relative;
}
.section-box{
	padding: 60px 0px 40px;
}

.section-box-small{
	padding: 30px 0;
}

.section-box-smaller{
	padding: 20px;
}

.header-section{
	margin-bottom: 40px;
	text-align: center;
	h2{
		margin-top: 0;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

// SITE-HEADER
.site-header{}
.site-header-top{
	position: relative;
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: $color-top-header;
}

.site-header-top-left,
.site-header-top-right{
	position: relative;
	color: black;
	p{
		margin-bottom: 0;
		font-weight: 300;
	}
}

.site-header-top-left{
	float: left;
}
.site-header-top-right{
	float: right;
	.checkout{
		color: $color-green;
		margin-left: 7px;
	}
	.icon{
		display: inline-block;
		background-image: url("../images/checkout.png");
		height: 16px;
		width: 16px;
		position: relative;
		background-repeat: no-repeat;
		background-color: transparent;
		top: 2px;
	}
}

.site-header-middle{
	position: relative;
	text-align: center;
	margin: 0px 0;
}

.nav-header{
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	display: inline-block;
	z-index: 999;
	&.nav-left{
		text-align: left;
	}
	&.nav-right{
		text-align: right;
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			text-align: left;
			display: inline-block;
			position: relative;
			&:hover,
			&:focus,
			&.active{
				> a{
					color: $color-green;
				}
			}
			>a{
				color: black;
				display: block;
				padding: 5px 10px;
				margin: 0 20px;
			}
			>ul{
				display: none;
				position: absolute;
				background-color: $color-green;
				box-shadow: inset 0 0 0 2px rgba( black, .1 ), 1px 1px 2px rgba( black, .3 );
				font-weight: normal;
				text-transform: capitalize;
				min-width: 215px;
				margin-top: 20px;
				z-index: 999;
				li{
					display: block;
					&:hover,
					&:focus{
						> a{
							color: black;
						}
					}
					&:first-child{
						>a{
							padding-top: 15px;
							&:after{
								position: absolute;
								display: block;
								width: 20px;
								height: 20px;
								background-color: $color-green;
								border: 1px solid rgba( black, .1);
								border-right: none;
								border-bottom: none;
								content: "";
								transform: rotate(45deg);
								top: -10px;
								left: 32px;
							}
						}
					}
					&:last-child{
						>a{
							padding-bottom: 15px;
						}
					}
					>a{
						position: relative;
						color: white;
						padding: 7px 15px;
						margin: 0;
						transition: all 400ms ease-out;
					}
					>ul{}
				}
			}
		}
	}
}

.logo-header{
	display: inline-block;
	position: relative;
	margin: 0 15px;
	a{
		display: block;
	}
	img{
		transform: scale(0.8);
	}
}

// BANNER-FORMATTING
.section-banner{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	.banner-caption{
		padding: 200px 0 100px;
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
	}	
	h1{
		font-size: 72px;
		color: black;
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 900;
	}
	p{
		color: black;
		font-weight: normal;
		margin-bottom: 20px;
	}
}

// BESTSELLERS
.bestseller-container{
	margin-left:0;
	margin-right: 0;
}
.header-bestseller{
	text-align: center;
	h3{
		margin: 0 0 40px;
		padding-bottom: 43px;
		font-weight: normal;
		text-transform: uppercase;
		border-bottom: 2px solid $color-border;
	}
}

.item-bestseller{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	.subitem-bestseller{
		position: relative;
		display: block;
		cursor: pointer;
		&:hover,
		&:focus{
			h4, .price{
				color: $color-green;
			}
		}
	}
	.bestseller-info{
		margin-top: 20px;
		h4, .price{
			transition: all 350ms ease;
		}
		h4{
			margin-top: 0;
			margin-bottom: 5px;
			text-transform: uppercase;
			color: black;
		}
		.price{
			color: black;
		}
	}
}

// SUBSCRIBE-FORMATTING
.section-subscribe{}
.text-subscribe{
	font-size: 32px;
	color: #6e6e6e;
	text-align: center;
	margin: 0;
	a{
		color: $color-blue;
		position: relative;
		&:hover,
		&:focus{
			color: $color-blue-light;
		}
	}
	i{
		font-size: 9px;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		display: inline-block;
		text-align: center;
		line-height: 20px;
		background-color: $color-blue;
		color: white;
		position: relative;
		top: -5px;
	}
}

// BACKGROUND-FORMATTING
.bg-gray-light{
	background-color: #f3f3f3;
}
.bg-gray-dark{
	background-color: #e4e3e4;
}

.text-uppercase{
	text-transform: uppercase;
}

// CLIENT-FORMATTING
.section-client{
	.title-client{
		color: #62615d;
		margin: 0;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}
	.title-client, 
	.client-link{
		min-height: 45px;
		vertical-align: middle;
		position: relative;
		line-height: 45px;
		display: block;
		text-align: center;
	}

}


// SITE-FOOTER
.site-footer{
	position: relative;
	padding: 60px 0px 10px;
	background: $color-black;
}

// WIDGET
.widget-footer{
	margin-bottom: 30px;
	position: relative;
	p{
		color: $color-text-gray-light;
		a{
			color: $color-text-gray-light; 
			&:hover,
			&:focus{
				color: $color-green;	
			}
		}
	}
	.title-widget{
		margin-top: 0;
		margin-bottom: 20px;
		text-transform: uppercase;
		color: white;
		font-weight: normal;
		letter-spacing: 1px;
	}
	.text-info{
		color: white;
		font-size: 26px;
		margin-bottom: 5px;
		a{
			color: white;
			&:hover,
			&:focus{
				color: $color-green;
			}
		}
	}
}

.list-widget-link{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	li{
		display: block;
		&:last-child{
			margin-bottom: 0;
		}
		a{
			display: inline-block;
			color: white;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 5px;
			&:hover,
			&:focus{
				color: $color-green;
			}
		}
	}
}

.list-widget-socmed{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
	}
	a{
		border-radius: 50%;
		height: 43px;
		width: 43px;
		line-height: 43px;
		background-color: white;
		color: $color-text-gray;
		font-size: 21px;
		text-align: center;
		display: block;
		&:hover,
		&:focus{
			background-color: $color-green;
			color: white;
		}
	}
}
/*  BUTTON
/* ------------------------------------ */


/*  FORM
/* ------------------------------------ */
input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid transparent;
}

textarea{
	resize: vertical;
}

.item{
	position: relative;
	.alert{
		float:left;
		margin:0 0 0 20px;
		padding:3px 10px;
		color: white;
		border-radius: 3px 4px 4px 3px;
		// background-color: $color-blue;
		max-width: 170px;
		white-space: pre;
		position: absolute;
		opacity: 0;
		z-index: 1;
		transition: all 250ms ease;
		&:after{
			content: "";
			display: block;
			height: 0;
			width: 0;
			// border-color: transparent $color-blue transparent transparent;
			border-style: solid;
			border-width: 11px 7px;
			position: absolute;
			top: -1px;
			left: -13px;
		}
	}
	&.bad{
		.alert{
			left:0;
			opacity: 1;
			top: 5px;
			left: 343px;
			font-size: 12px;
			padding: 10px;
		}
	}
}
 
.form-subscribe{
	input[type="email"],
	input[type="submit"]{
		position: relative;
		float: left;
		height: 50px;
	}
	input[type="email"]{
		width: 65%;
		margin-right: 2%;
	}
	input[type="submit"]{
		width: 33%;
		color: white;
		text-transform: capitalize;
	}
}
/*  HELPER
/* ------------------------------------ */

// SPACE
$spacer:
	( space15, 15px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/*  CAPTION
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.wp-caption{
	&.alignleft{}
	&.alignright{}
	&.aligncenter{}
	&.wp-caption-text{}
	&.wp-caption-dd{}
}


/*  ALIGNMENT
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.aligncenter{
	clear: both;
	display: block;
	margin: 0 auto;
}

/*  SITE-HEADER
/* ------------------------------------ */

/*  SITE-MAIN
/* ------------------------------------ */


/*  SITE-FOOTER
/* ------------------------------------ */

/*  WIDGETS
/* ------------------------------------ */


/*  MEDIA-QUERIES
/* ------------------------------------ */
.btn-rwd-sidebar{
	display: none;
}
@import "mediaqueries";
@import "rwdsidebar";

@media (max-width:1200px) {
    .nav-header ul li > a{
    	margin: 0 10px;
    	font-size: 12px;
    }
}

@media (max-width: 995px) {
    .nav-header{
    	display: none;
    }
    .logo-header{
    	float: left;
    }
    .btn-rwd-sidebar{
    	margin-top: 25px;
    	display: inline-block;
    	float: right;
    	width: 42px;
    	height: 42px;
    	line-height: 42px;
    	text-align: center;
    	background-color: $color-green;
    	box-shadow: inset 0 0 0 2px rgba( $color-green, 1);
    	color: white;
    	&:hover,
    	&:focus{
			background-color: transparent;
			color: $color-green;
    	}
    }
    .section-client .title-client, 
    .section-client .client-link{
		margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .section-banner h1{
    	font-size: 52px;
    }
    .section-banner .banner-caption{
    	padding: 100px 0 70px;
    }
}


@media (max-width: 621px) {
    .btn-center{
    	a{
    		margin-right: 0 !important;
    		margin-bottom: 15px;
    	}
    }
}
@media (max-width: 570px) {
    .site-header-top{
    	height: auto;
    	line-height: inherit;
    	padding: 15px 0;
    	.site-header-top-left,
    	.site-header-top-right{
    		float: none;
    		text-align: center;
    		margin-bottom: 5px;
    	}
    }
}