.btn-center{
	text-align: center;
	display: block;
	.btn{
		min-width: 180px;
		&:first-child{
			margin-right: 20px;
		}
	}
}

.btn{
	display: inline-block;
	padding: 12px 16px;
	text-transform: uppercase;
	transition: all 350ms ease-out;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 0;
	font-weight: normal;
	&:hover,
	&:focus{
		text-decoration: none;
		outline-color: transparent;
	}
}

.btn-gray{
	color: black;
	background-color: $color-gray-dark;
	box-shadow: inset 0 0 0 2px rgba( $color-gray-dark, 1);
	&:hover,
	&:focus{
		color: black;
		background-color: transparent;
	}
}

.btn-green{
	color: white;
	background-color: $color-green;
	box-shadow: inset 0 0 0 2px rgba( $color-green, 1);
	&:hover,
	&:focus{
		color: $color-green;
		background-color: transparent;
	}
}

.btn-blue{
	background-color: $color-blue;
	&:hover,
	&:focus{
		background-color: $color-blue-light;
	}
}