<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie8"> endif]-->
<html lang="en">

<head>

	<!-- ** METAS ** -->
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">

	<!-- ** TITLE ** -->
	<title>Hiline - Fresh alternatives to Nespresso Capsules</title>

	<!-- ** ADD CSS FRAMEWORKS ** -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/font-awesome.css" rel="stylesheet">
	
	<!-- ** ADD OWN STYLESHEETS ** -->
	<link href="css/app.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>

        <link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
        <link href="assets/js/respond.proxy.gif" id="respond-redirect" rel="respond-redirect">
        <script src="js/respond.proxy.js"></script>
    <![endif]-->


	<script src="//use.typekit.net/rcp6xmq.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
  
<body> 
	
	<!-- PRELOADER BEGIN -->
	{{> preloader}}
	<!-- PRELOADER END -->

	<!-- NAV RWD SIDEBAR BEGIN -->
	{{> rwd-sidebar }}
	<!-- NAV RWD SIDEBAR END -->

	<div class="wrapper">
		<div class="wrapper-inner">
 			 
			<!-- SITE-HEADER BEGIN -->
			{{> site-header }}
			<!-- SITE-HEADER END -->

			<!-- SITE-MAIN BEGIN -->
			<main class="site-main">
				 {{> body }} 
			</main>  
			<!-- SITE-MAIN END -->

			<!-- SITE-FOOTER BEGIN -->
			{{> site-footer }}
			<!-- SITE-FOOTER END -->

		</div>
	</div><!-- / .wrapper -->

	<script src="js/jquery-1.10.2.js" type="text/javascript"></script> 
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/superfish.js" type="text/javascript"></script>
	<script src="js/scripts.js" type="text/javascript"></script>

</body>
</html>